.container {
	display: grid;
	grid-template-columns: 300px auto 500px;
	grid-template-rows: 100px 370px 100px;	
}

header {
	display: block;
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: gray;

}
nav {
	display: block;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 2;
	grid-row-end: 5;
	background-color: #9a9a9a;
	list-style: none;
	font-size: 30px;
	line-height: 300%;
	padding-left: 20px;
}

main {
  display: block;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 7;

}



footer, h3 {
	display: block;
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 5;
	grid-row-end: 5;
	background-color: #383838;
	text-align: center;
  color: white;
  
}

.copyright{
	text-align: center;

}

.image {
	padding-left: 200px;
  width: 50%;
  height: 50%;
}



h2 {
	padding-left: 470px;
}

img {
	width: 400px;
	height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.teknikum {
  padding-left: 115px;
}

body {
	background-color: #D3D3D3;
}

h1 {
	text-align: center;
	font-size: 35px
}

h4 {
	float: left;
	font-size: 25px;
	padding-left: 25px;
}

.table {
	padding-left: 10px;
	padding-top: 10px;
}

table {
	width: 100%;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	height: 30px;
}


td, th {
	height: 90px;
	text-align: center;
}

caption{
	caption-side: bottom;
	font-size: 20px;
}

th {
	background-color: #98FB98;
	
}


tr:nth-child(even) {
	background-color: #DC143C;
}

tr:nth-child(odd) {
	background-color: #F0E68C;
}

td:nth-child(1) {
  background-color: #98FB98;
}

th:nth-child(1) {
  background-color: orange;
}

p:first-of-type::first-letter {
  font-size: 25px;
}
