.container { /*Grid layout*/
	display: grid;
	grid-template-columns: 300px auto 500px;
	grid-template-rows: 100px 370px 100px;	
}

header { /*Designen och layouten för headern. Det översta.*/
	display: block;
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: gray;

}
nav { /*Designen och layouten för sidhuvudet*/
	display: block;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 2;
	grid-row-end: 5;
	background-color: #9a9a9a;
	list-style: none;
	font-size: 30px;
	line-height: 300%;
	padding-left: 20px;
}

main { /*Designen och layouten som visar innehållet*/
  display: block;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 7;

}



footer, h3 { /*Design och layouten för footern. Det längst ner.*/
	display: block;
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 5;
	grid-row-end: 5;
	background-color: #383838;
	text-align: center;
  color: white;
  
}

.copyright{ /*Texten på footern*/
	text-align: center;

}

.image { /*Äpplet på index.html*/
	padding-left: 200px;
  width: 50%;
  height: 50%;
}



h2 { /*h2 modifieringar*/
	padding-left: 470px;
}

img { /*Inställningar för bilder*/
	width: 400px;
	height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.teknikum { /*Inställningar för bilden på teknikum*/
  padding-left: 115px;
} 

body { /*Backgrundsfärg*/
	background-color: #D3D3D3;
}

h1 { /*Inställningar för h1 element.*/
	text-align: center;
	font-size: 35px
}

h4 { /*Inställningar för h4 element.*/
	float: left;
	font-size: 25px;
	padding-left: 25px;
}


table { /* Tabellen med trigonometriska förhållanden.*/
	width: 100%;
  padding-left:10px;
  padding-top: 10px;
}

table, th, td { /*Tabellen, rubrikerna och inehållets inställningar som dom delar tillsammans*/
	border: 1px solid black;
	border-collapse: collapse;
	height: 30px;
}


td, th { /*Innehållet inuti tabellen*/
	height: 90px;
	text-align: center;
}

caption{ /*Tabellens rubrik*/
	caption-side: bottom;
	font-size: 20px;
}

th { /*rubrikernas bakgrundsfärg i tabellen*/
	background-color: #98FB98;
	
}


tr:nth-child(even) {/*Zebra striping. För alla n => n % 2 = 0*/
	background-color: #DC143C;
}

tr:nth-child(odd) {/*Zebra striping. för alla n => n % 2 != 0*/
	background-color: #F0E68C;
}

td:nth-child(1) { /*Det första elementet i column 1 och för alla rader > 1*/
  background-color: #98FB98;
}

th:nth-child(1) { /*den första raden och den första columnen*/
  background-color: orange;
}

p:first-of-type::first-letter { /*För varje ny start på en <p> börjar med storlek = font-size: 25px;*/
  font-size: 25px;
}
